.header {
    &__row {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 205px 1fr 205px;
        align-items: center;
        justify-items: center;
        gap: 50px;
        @media (max-width: 1125px) {
            grid-template-columns: 205px 1fr;
        }
        @media (max-width: 767px) {
            gap: 10px;
        }
    }

    &__logo {
    }
    &__menu {
        justify-self: end;
        display: flex;
        align-items: center;

        @media (max-width: 1125px) {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-items: center;

        li {
            font-size: 20px;
            font-family: "Barlow", sans-serif;
            margin-right: 50px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
    &__mobile-menu {
        display: none;
        @media (max-width: 1125px) {
            display: block;
            justify-self: end;
        }
    }
    &__services {
        display: flex;
        @media (max-width: 1125px) {
            display: none;
        }
    }

    &__service {
        position: relative;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        background-color: #fff;
        border-radius: 50%;

        user-select: none;
        cursor: pointer;

        transition-duration: 0.2s;
        &:hover {
            transform: scale(1.1);
        }
        &:focus {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

.sticky-header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 79px;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #f6fafb;
    box-shadow: 0px 0px 5px #cccce3;
}

.header-service-active {
    border: 2px solid #9fcb22;
}
