.header {
    &__row {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 205px 1fr 205px;
        align-items: center;
        justify-items: center;
        gap: 50px;
    }

    &__logo {
    }
    &__menu {
        justify-self: end;
        display: flex;
        align-items: center;

        @media (max-width: 1125px) {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-items: center;

        li {
            font-size: 20px;
            font-family: "Barlow", sans-serif;
            margin-right: 50px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    }
    &__services {
        display: flex;
        @media (max-width: 1125px) {
            display: none;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
