.trending {
    padding-top: 140px;
    &__body {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    &__title {
        margin-bottom: 23px;
    }
    &__subtitle {
        margin-bottom: 48px;
    }
    &__products {
        display: grid;
        gap: 30px;

        grid-template-columns: repeat(3, minmax(320px, 350px));
        grid-auto-rows: 1fr;
    }
}
