.footer {
    background-color: #14462e;
    color: #ffffff;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;

        margin-bottom: 100px;

        @media (max-width: 1125px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 30px;
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
    }
    &__column {
        @media (max-width: 1125px) {
            display: none;
        }
    }
    &__mobile-column {
        display: none;
        @media (max-width: 1125px) {
            display: block;
        }
    }
    &__collapse-title {
        cursor: pointer;

        display: flex;
        gap: 20px;
        font-family: "Jost", sans-serif;
        font-size: 23px;
        font-weight: 500;
    }
    &__collapse {
        display: none;
        @media (max-width: 1125px) {
            display: block;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-family: "Jost", sans-serif;
        font-size: 23px;
        margin-bottom: 30px;
        font-weight: 500;
    }
    &__information {
        display: grid;
        height: 200px;
        align-content: space-between;

        li {
            font-family: "Barlow", sans-serif;
            font-size: 18px;
            color: #6ea68b;

            &:nth-child(odd) {
                font-weight: 600;
            }
            &:nth-child(even) {
                font-weight: 300;
            }
        }
    }
    &__list {
        display: grid;
        height: 200px;
        align-content: space-between;

        li {
            font-family: "Barlow", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #6ea68b;
        }
    }
}

.subscribe {
    background-color: #abda23;

    transform: translate(0px, -50%);

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 254px;

    @media (max-width: 1125px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 10px;
        height: 300px;

        transform: translate(0);

        margin-bottom: 100px;
    }

    @media (max-width: 767px) {
        margin-bottom: 50px;
    }

    &__image {
        img {
            transform: scale(2.5, 2.5) translate(10px, -25px);
            width: 50%;
            height: 50%;
        }

        @media (max-width: 1125px) {
            display: none;
        }
    }
    &__body {
    }

    &__title {
        font-size: 45px;
        font-family: "Jost", sans-serif;
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__form {
        width: 100%;
        display: flex;
        padding-right: 54px;
        @media (max-width: 1125px) {
            width: 100%;
            padding-right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__input {
        flex: 1 1 auto;
        @media (max-width: 1125px) {
            width: 100%;
            margin-bottom: 30px;
        }
        input {
            width: 100%;
            height: 54px;
            padding-left: 25px;
            font-family: "Barlow", sans-serif;
            font-weight: 300;
            color: black;
            &::placeholder {
                color: #6c6c6c;
                font-size: 18px;
            }
            transition-duration: 1.2s;
            &:focus {
                border: 1px solid #14462e;
            }
        }
    }
    &__button {
        button {
            background-color: #14462e;
        }
    }
}

.bottom {
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.14901960784313725);

    font-size: 16px;
    color: #6ea68b;
    font-family: "Barlow", sans-serif;
    font-weight: 300;

    &__body {
        padding: 47px 0px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1125px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    &__copy {
        @media (max-width: 1125px) {
            order: 2;
        }
    }
    &__socials {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        justify-self: end;

        @media (max-width: 1125px) {
            order: 1;
            margin-bottom: 30px;
        }
    }
    &__follow {
    }
    &__social {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
