.search-input {
    &__input {
        padding: 15px;
        display: flex;
        background-color: #f6fafb;
        height: 45px;
        line-height: 45px;
        input {
            width: 100%;
            background-color: #f6fafb;
            font-size: 18px;
            font-family: "Barlow", sans-serif;
            font-weight: 300;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
