.why-section {
    padding: 140px 0px 0px 0px;

    &__title {
        font-size: 45px;
        color: #252932;
        font-family: "Jost", sans-serif;
        font-weight: 600;
        margin-bottom: 35px;
        text-align: center;
    }
    &__features {
        padding: 0;
    }
}
