.categories {
    padding-top: 120px;
    &__body {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 28px;
    }
    &__item {
        position: relative;
        height: 287px;
        width: 352px;
        padding: 0px 0px 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-child(2) {
            .categories__image {
                bottom: 20px;
                right: 30px;
            }
        }
        &:nth-child(3) {
            .categories__image {
                bottom: 20px;
                right: 30px;
            }
        }
    }
    &__title {
        grid-area: title;
        font-family: "Jost", sans-serif;
        font-size: 28px;
        color: #ffffff;
        max-width: 175px;
        line-height: 150%;
    }
    &__button {
        grid-area: button;
        button {
            background-color: rgba($color: #000000, $alpha: 0);
            text-align: left;
            background: url("../../assets/images/categories/rightArrow.png") 55% center no-repeat;
        }
    }
    &__image {
        grid-area: image;
        position: absolute;
        bottom: 0;
        right: 0;
        img {
        }
    }
}
