.shop-section {
    padding-top: 140px;

    @media (max-width: 1125px) {
        padding-top: 70px;
    }

    @media (max-width: 830px) {
        padding-top: 30px;
    }

    &__body {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 255px 1fr;
        gap: 30px;

        align-items: start;

        @media (max-width: 830px) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }

    // shop
    &__shop {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 45px 1fr 44px;
        gap: 40px;
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;

            gap: 30px;
        }
    }

    &__settings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "view view sorting";
        gap: 30px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
        }
    }
    &__view {
        grid-area: view;
        display: flex;
        align-items: center;
    }
    &__mode {
        display: flex;
        margin-right: 25px;
    }
    &__icon {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6fafb;

        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }

        svg {
            font-size: 30px;
            color: #bdbdbd;

            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    &__total {
        font-family: "Barlow", sans-serif;
        font-weight: 300;
        color: #6c6c6c;
    }
    &__sorting {
        grid-area: sorting;
        select {
            width: 100%;
            height: 45px;
            background-color: #f6fafb;
            font-family: "Barlow", sans-serif;
            font-weight: 300;
            color: #6c6c6c;
        }
    }

    &__products {
        width: 100%;
        display: grid;
        align-content: start;
        gap: 30px;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-auto-rows: 1fr;

        @media (max-width: 1125px) {
            grid-template-columns: repeat(2, minmax(250px, 1fr));
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(1, minmax(250px, 1fr));
        }
    }

    &__line-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        background-color: #f6fafb;
    }

    &__paginator {
        justify-self: end;
        @media (max-width: 767px) {
            justify-self: center;
        }
    }
}

.active-mode {
    svg {
        color: #fff;
    }

    background-color: #9fcb22;
}
