.featured-products {
    padding: 140px 0px;
    position: relative;
    background-color: #f6fafb;

    @media (max-width: 767px) {
        padding: 70px 0px;
    }

    &__background {
        position: absolute;
        left: 0;
        bottom: 20%;
        width: 15%;
    }
    &__body {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    &__title {
        margin-bottom: 27px;
        text-align: center;
    }
    &__subtitle {
        margin-bottom: 50px;
        text-align: center;
    }
    &__menu {
        margin-bottom: 55px;

        @media (max-width: 767px) {
            display: none;
        }
    }
    &__list {
        display: grid;
        grid-auto-flow: column;
        gap: 40px;
        font-family: "Barlow", sans-serif;
        li {
            font-weight: 500;
            font-size: 23px;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__active {
        color: #9fcb22;
    }

    &__products {
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        grid-auto-rows: 1fr;

        @media (max-width: 1125px) {
            grid-template-columns: repeat(2, minmax(320px, 1fr));
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, minmax(320px, 1fr));
        }
    }
    &__item {
        background-color: #fff;
    }
}
